*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.menu1{
background-color: antiquewhite;
list-style-type: none;
}
.menu1 li{
width: 100px;
height: 50px;
border: 1px solid red;
/* margin: 1%; */
padding: 10px;
margin-left: 10px;
margin-bottom: 10px;
text-align: center;
} 
.menu2 {
width: 100px;
background-color: aqua;
padding: 10px;
}
.menu2 li{
border: 1px solid green;
padding: 10px;
margin-bottom: 10px;
}
.menu2 li:last-child{
margin: 0px;
}
